<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         cacheDirectory="build/.phpunit.cache"
         beStrictAboutCoverageMetadata="true">
    <testsuites>
        <testsuite name="Package">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>./src/Exceptions</directory> <!-- Exclude the Exceptions folder -->
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit/html"/>
            <php outputFile="build/phpunit/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <xml outputDirectory="build/phpunit/xml-coverage"/>
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
        <junit outputFile="build/phpunit/junit.xml"/>
    </logging>
</phpunit>
